.progress-bar {
    background-color: lightgray;
    height: 10px;
    margin-bottom: 10px;
  
  }
  
  .progress {
    background-color: rgb(7, 89, 133);
    height: 100%;
    transition: width 2s ease-in-out;
  }
  